:root {
  --black-color: #000;
  --darkgray-color: #a9a9a9;
  --red-wine-color: #500;
  --white-color: #fff;
  --text-shadow-black: 2px 2px 2px rgba(0, 0, 0, 0.7);
  --text-shadow-gray: 2px 2px 2px rgba(170, 170, 170, 0.7);
  --drop-shadow-black: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
}

.App {
  text-align: center;
  font: 20px 'Century Gothic', Arial, sans-serif; /*** Letra y fondo ***/
  letter-spacing: 5px;
  color: var(--white-color);
  font-size: 20px;
  height: 100%;
  background: url("/public/fondo.jpg") no-repeat;
  background-size: cover;
}

a {
  color: lightgray;
  text-decoration: none;
}

/********************************* HEADER *********************************/
.App-header {
  background-color: transparent;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--white-color);
  background-image: url("/public/banner.jpg");  /*** Banner ***/
	background-size: cover;
	width:100%;
  height: 12vh;
}
.App-logo {
  height: 12vmin;
  pointer-events: none;
  filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 1)); /*** Logo ***/
  margin-left: -400px;
  margin-top: 10px;
}
.App-header h1 {								                /***** Titulo header *****/
  font: 20px 'Century Gothic', Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 50px;
  color: var(--white-color);
  text-shadow: var(--text-shadow-black);
  position: static;
  margin-top: -80px;
  margin-left: 80px;
}

/********************************* BODY *********************************/
.App-body #fecha{                        /****** fecha actual *****/
  color: var(--darkgray-color);
  left: 40px;
  margin-top: -20px;
  position: absolute;
}
.App-body .infoPerfil{

}
.App-body #userPerfil{                   /****** usuario perfil *****/
  color: var(--darkgray-color);
  right: 90px;
  margin-top: -20px;
  position: absolute;
}
.App-body #fotoPerfil{                        /****** Foto perfil *****/
  filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 1));
  width: 30px;
  right: 60px;
  margin-top: -22px;
  position: absolute;
}

.App-body h1{                           /*** Titulo cocntenido ***/
  font: 40px 'Century Gothic', Arial, sans-serif;
  letter-spacing: 5px;
}
.App-body div{                            /** Divs **/

}
.App-body img{                            /** Divs **/
  width: 40px;
}

.App-body table{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.App-body table th{
  background-color: var(--red-wine-color);
  text-shadow: var(--text-shadow-black);
}
.App-body table td{
  min-width: 140px;
  height: 40px;
}
.App-body table tr:nth-child(even){background-color: rgba(25,25,25,0.8);}
.App-body table tr:nth-child(odd){background-color: rgba(25,12,0,0.8);}

input[type=text]{
  color: var(--red-wine-color);
  padding: 20px 0 20px 0;
  letter-spacing: 3px;
  font-size: medium;
  width: 150px;
  margin: 10px;
}

input[type=number]{
  color: var(--red-wine-color);
  padding: 17px 0 17px 17px;
  text-align: center;
  letter-spacing: 3px;
  font-size: large;
  width: 124px;
  background-color: #ffe!important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  opacity: 1;
  color: var(--red-wine-color)!important;
  height: 60px;
  cursor: pointer;
  padding: 0 12px 0 12px;
  background-color: var(--red-wine-color)!important;
}

input[type=submit]{
  color: var(--white-color);
  text-shadow: var(--text-shadow-black);
  background-color: var(--red-wine-color);
  padding: 15px 0 15px 0;
  border-radius: 30px;
  letter-spacing: 3px;
  font-size: medium;
  font-weight: bolder;
  width: 200px;
  cursor: pointer;
  filter: var(--drop-shadow-black);
}

#valorTotal{                      /*Valor total a pagar*/
  font: 30px 'Century Gothic', Arial, sans-serif;
  letter-spacing: 2px;
  width: 400px;
  height: 16px;
  font-size: 40px;
  border-radius: 30px;
  text-shadow: var(--text-shadow-gray);
  background-color: var(--white-color);
  font-weight: bolder;
  text-align: center;
}

#valoresTotales{                /*Valores totales de la simulación*/
  background-color: var(--red-wine-color);
  font-weight: bold;
  text-shadow: var(--text-shadow-black);
  font-size: 25px;
}





/*********************************** MOVIL ***********************************/
/************************** TABLETS **************************/
@media screen and (max-width: 1000px) {
  :root {
    --text-shadow-black: 1px 1px 1px rgba(0, 0, 0, 0.7);
    --text-shadow-gray: 1px 1px 1px rgba(170, 170, 170, 0.7);
    --drop-shadow-black: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
  }
  .App {
    letter-spacing: 1px;
    font-size: 18px;
  }
  
  /************* HEADER *************/
  .App-header {
    min-height: 13vh;
    font-size: calc(14px + 2vmin);
    height: 13vh;
  }
  .App-logo {
    height: 10vmin;
    margin-left: -280px;
    margin-top: 50px;
  }
  .App-header h1 {								                /***** Titulo header *****/
    letter-spacing: 1px;
    font-size: 40px;
    margin-top: -60px;
    margin-left: 100px;
  }

  /************* BODY *************/
  .App-body .infoPerfil{
    margin-top: 35px;
  }
  .App-body #fotoPerfil{                   /****** Foto perfil *****/
    width: 18px;
    margin-top: -34px;
  }

  .App-body h1{                           /*** Titulo cocntenido ***/
    font: 30px 'Century Gothic', Arial, sans-serif;
    letter-spacing: 1px;
  }
  .App-body img{                            /** Divs **/
    width: 30px;
  }
  .App-body table td{
    min-width: 80px;
    height: 60px;
  }

  input[type=text]{
    padding: 15px 0 15px 0;
    letter-spacing: 1px;
    font-size: 20px;
    width: 200px;
    margin: 12px;
  }
  input[type=number]{
    padding: 10px 0 10px 10px;
    letter-spacing: 1px;
    font-size: 18px;
    width: 80px;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    height: 30px;
    padding: 0 10px 0 10px;
  }
  input[type=submit]{
    padding: 10px 0 10px 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
    width: 120px;
  }

  #valorTotal{                      /*Valor total a pagar*/
    font: 22px 'Century Gothic', Arial, sans-serif;
    letter-spacing: 1px;
    width: 200px;
    height: 16px;
    font-size: 22px;
  }
  #valoresTotales{                /*Valores totales de la simulación*/
    font-size: 20px;
  }

}

/************************** CELLPHONES **************************/
@media screen and (max-width: 640px) {
  :root {
    --text-shadow-black: 1px 1px 1px rgba(0, 0, 0, 0.7);
    --text-shadow-gray: 1px 1px 1px rgba(170, 170, 170, 0.7);
    --drop-shadow-black: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
  }
  .App {
    letter-spacing: 0px;
    font-size: 10px;
  }

  /************* HEADER *************/
  .App-header {
    min-height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    height: 8vh;
  }
  .App-logo {
    height: 8vmin;
    margin-left: -130px;
    margin-top: 10px;
  }
  .App-header h1 {								                /***** Titulo header *****/
    letter-spacing: 0px;
    font-size: 20px;
    margin-top: -30px;
    margin-left: 50px;
  }

  /************* BODY *************/
  .App-body #fecha{                        /****** fecha actual *****/
    left: 10px;
  }
  .App-body .infoPerfil{
    margin-top: 30px;
  }
  .App-body #userPerfil{                   /****** usuario perfil *****/
    right: 30px;
    margin-top: -20px;
  }
  .App-body #fotoPerfil{                   /****** Foto perfil *****/
    width: 18px;
    margin-top: -24px;
    right: 10px;
  }
  
  .App-body h1{                           /*** Titulo cocntenido ***/
    font: 16px 'Century Gothic', Arial, sans-serif;
    letter-spacing: 0px;
  }
  .App-body img{                            /** Divs **/
    width: 20px;
  }
  .App-body table td{
    min-width: 30px;
    height: 50px;
  }

  input[type=text]{
    padding: 10px 0 10px 0;
    letter-spacing: 0px;
    font-size: 10px;
    width: 100px;
    margin: 12px;
  }
  input[type=number]{
    padding: 10px 0 10px 2px;
    letter-spacing: 0px;
    font-size: 10px;
    width: 40px;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    height: 30px;
    padding: 0 10px 0 10px;
  }
  input[type=submit]{
    padding: 5px 0 5px 0;
    border-radius: 30px;
    letter-spacing: 0px;
    font-size: 10px;
    font-weight: bold;
    width: 70px;
  }

  #valorTotal{                      /*Valor total a pagar*/
    font: 16px 'Century Gothic', Arial, sans-serif;
    letter-spacing: 0px;
    width: 120px;
    height: 16px;
    font-size: 14px;
  }
  #valoresTotales{                /*Valores totales de la simulación*/
    font-size: 12px;
  }

}

